
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}

/* Remove default margin + padding */
html, body, div, span,
footer, header,
menu, nav,
article, aside,
figure, figcaption,
section, summary,
h1, h2, h3, h4, h5, h6,
a, img, i, p, blockquote,
em, strong, sub, sup,
ol, ul, li,
ul[class], ol[class],

fieldset, form, label,
legend, table, caption,
tbody, tfoot, thead,
tr, th, td,

audio, video,

center, canvas, details, embed,
hgroup, output, ruby,
time, mark,

tt, var, b, u,
dl, dt, dd,
pre, abbr, acronym, address,
big, cite, code, del,
dfn, ins, kbd, q, s,
samp, small, strike,
applet, object, iframe{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1;
}
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class],
ul, ol {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
	  animation-duration: 0.01ms !important;
	  animation-iteration-count: 1 !important;
	  transition-duration: 0.01ms !important;
	  scroll-behavior: auto !important;
	}
  }

/* CSS code adapted from Grepper & Clear Crab */
