/* Box sizing rules */
* {
	box-sizing: border-box;
}
/* Remove default margin + padding */
html, body, div, span,
footer, header,
menu, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
html, body {
	width: 100%;
	height: 100%;
}

/* CSS code adapted from Grepper & Clear Crab */
