
html {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}
body {
	background-image: linear-gradient(rgba(252,176,69,1) 0%, rgba(253,29,29,1) 50%, rgb(67, 14, 102) 100%) !important;
	color: var(--bs-light);
	font-family: inherit;
	text-transform: inherit;
	background-repeat: no-repeat;
	background-position: bottom;
}
div.navbar {
	margin: 0;
	padding: 0;
	background-color:rgba(5, 28, 56, 0.926);
}
nav {
	background-color: rgba(64, 7, 101, 0.494);
	margin: 0.3rem;
	border-radius: 5px;
	border: 1px solid whitesmoke;
	align-items: center;
	justify-content: center;
}
nav button {
	color: whitesmoke !important;
	height: 2em;
	width: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}
button.btn {
	bottom: 0.15rem;
}
main {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
	background-image: linear-gradient(rgba(252,176,69,1) 0%, rgba(253,29,29,1) 50%, rgb(67, 14, 102) 100%) !important;
	background-repeat: no-repeat;
	background-position: bottom;
}

.text-muted {
	color: var(--bs-light) !important;
	opacity: 0.65;
}
#time,
#today,
#city-name {
	font-weight: 300;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.217);
}
#time {
	margin-top: .75rem;
	font-size: 1.15rem;
}

/* Menu */
#popout-menu {
	background-color: rgba(235, 235, 235, 0.855);
	margin: auto;
	padding: 0.15rem;
}
.nav-item {
	padding: 0.15em 0.15em 0.15em 0.5em;
	width: 100%;
	font-size: 90%;
}
#search-box-txt {
	display: flex;
	flex-direction: column;
}
.search-form {
	display: inline-flex;
}
.input-group {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.input,
.btn,
i.fa-search {
	max-height: 90%;
	font-weight: 600;
	font-size: 0.95em;
	text-transform: capitalize;
}
input#search-input {
	width: 75%;
	z-index: 10!important;
	margin-right: 5px;
	border-radius: 3px;
	font-family: 'Source Sans Pro', sans-serif;
}
.input-group-div {
	background-color: rgba(0, 119, 255, 0.77);
	border: 3px solid rgba(245, 245, 245, 0);
	border-radius: 3px!important;
	margin: auto;
	padding: auto;
	width: 18%;
	height: 89%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
}
button#search-btn,
i.fas {
	padding: 0;
	margin: auto;
	height: 95%;
}
#search-btn,
#search-icon {
	max-width: max-content;
	display: flex;
	position: relative;
}
#search-btn {
	position: relative;
}
/* Search History */
#search-history-list {
	height: max-content;
	text-transform: capitalize;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}


/* Page Layout */


/* Top Container -- Current Temp, City, + Short Descr */
#current-conditions {
	padding: 0.75em;
	padding-bottom: 0;
}
.current-icon-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.15rem;
	width: 100%;
	background-color: #bcbcbc33;
	box-shadow: 1px 1px rgba(0, 0, 0, 0.269);
	border-radius: 5px;
	margin-top: 1rem;
	/* margin-bottom: 1rem; */
}
#current-icon {
	width: 7.5rem;
	/* margin-bottom: 1em; */
}
#current-temp {
	font-size: 6em;
	position: relative;
		left: 1.5rem;
		top: 1rem;
	margin-top: 1rem;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.269);
}
#desc {
	margin-bottom: 0;
	margin-top: .5rem;
	font-weight: 300;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.269);
}

/* Middle Container -- Hourly, 5 Day Forecast */

#week-forecast {
	height: max-content;
}
.forecast-content-wrapper {
	display: flex;
		justify-content: space-between;
}
.forecast-card {
	display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		flex-shrink: 10;
	margin: auto;
	margin-top: 0.75rem;
	/* background-color: #444e5f40; */
	background-color: #bcbcbc57;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.269);
	border-radius: 5px;
	font-size: 0.7rem;
	font-weight: 300;
	padding-top: 0.25rem;
	position: relative;
}
.weather-icon {
	width: 5em;
	flex-shrink: 5;
	position: absolute;
		bottom: 0.25rem;
}
.temperature {
	font-size: 1.5rem;
	padding-top: 0.15rem;
	margin-bottom: 1.6rem;
}
div.text-muted#city-name {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.65em;
	/* margin-top: 2.5rem;
	margin-bottom: 2.5rem; */
	margin: auto;
	height: max-content;
	background-color: transparent;
	position: relative;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.269);

}

/* Development */
.hidden,
.humidity {
	display: none;
}
