:root {
	--bs-blue: #0d6efd;
	--bs-indigo: #6610f2;
	--bs-purple: #6f42c1;
	--bs-pink: #d63384;
	--bs-red: #dc3545;
	--bs-orange: #fd7e14;
	--bs-yellow: #ffc107;
	--bs-green: #198754;
	--bs-teal: #20c997;
	--bs-cyan: #0dcaf0;
	--bs-white: #fff;
	--bs-gray: #6c757d;
	--bs-gray-dark: #343a40;
	--bs-primary: #0d6efd;
	--bs-secondary: #6c757d;
	--bs-success: #198754;
	--bs-info: #0dcaf0;
	--bs-warning: #ffc107;
	--bs-danger: #dc3545;
	--bs-light: #f8f9fa;
	--bs-dark: #212529;
	--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));


}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}

/* Remove default margin + padding */
html, body, div, span,
footer, header,
menu, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html, body {
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	max-height: 100vh;
}

body {
	background: rgb(131,58,180);
background: linear-gradient(rgba(252,176,69,1) 0%, rgba(253,29,29,1) 50%, rgba(131,58,180,1) 100%);
	color: var(--bs-light);
}
.text-muted {
	color: var(--bs-light) !important;
	opacity: 0.65;
}

/* Menu */
.nav-item {
	padding: 0.125em 0 0.25em 0.15em;
	width: 100%;
	font-size: 95%;
}
.search-form {
	display: inline-flex;
}
.input-group {
	display: flex;
}
.input,
.btn,
i.fa-search {
	max-height: 90%;
	padding: auto;
	font-weight: 600;
	font-size: 0.95em;
}
input#search-input {
	width: 80%;
}
.input-group-btn {
	border: 2px solid blue;
	border-radius: 3px;
	margin: 0.01em 0.1em 0.2em 0.1em;
	width: 18%;
	position: relative;
		bottom: 0.025em
}
button#search-btn,
i.fas {
	padding: 0;
	height: 95%;
}
button#search-btn {
	margin: auto 0.5em;
}

#search-input {
	width: 73%;
	border-radius: 3px;
}
#search-btn {
	max-width: max-content;
}

/* Page Layout */


/* Top Container -- Current Temp, City, + Short Descr */
#current-conditions {
	height: 60vh;
	padding: 2em;
}


/* Bottom Container -- Hourly, 5 Day Forecast */
#week-forecast {
	height: 30vh;
}

.forecast-content-wrapper {
	font-size: 0.7em;
	display: flex;
		justify-content: space-around;
	padding: 2em auto !important;
}
.forecast-card {
	width: 18vw;
	display: flex;
		flex-direction: column;
		align-items: center;
}
.forecast-info {
	display: flex;
}





/* Development */
#today,
#city-name {
	display: none;
}
.hidden {
	display: none;
}
.container-fluid,
.container,
.forecast-card  {
	border: solid 1px var(--bs-dark);
}
