
* {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}

body {
	background: rgb(131,58,180);
	background: linear-gradient(rgba(252,176,69,1) 0%, rgba(253,29,29,1) 50%, rgb(67, 14, 102) 100%);
	color: var(--bs-light);
}

nav {
	background-color: rgba(64, 7, 101, 0.494);
	margin: 0.5em;
	border-radius: 5px;
	border: 2px solid whitesmoke;
	align-items: center;
	justify-content: center;
}

nav button {
	color: whitesmoke !important;
	height: 2.5em;
	width: 2.5em;
	display: flex;

}

.text-muted {
	color: var(--bs-light) !important;
	opacity: 0.65;
}
#time,
#today,
#city-name {
	font-weight: 300;
}

/* Menu */

.nav-item {
	padding: 0.125em 0 0.25em 0.15em;
	width: 100%;
	font-size: 95%;
}
.search-form {
	display: inline-flex;
}
.input-group {
	display: flex;
}
.input,
.btn,
i.fa-search {
	max-height: 90%;
	padding: auto;
	font-weight: 600;
	font-size: 0.95em;
}
input#search-input {
	width: 80%;
}
.input-group-btn {
	border: 2px solid blue;
	border-radius: 3px;
	margin: 0.01em 0.1em 0.2em 0.1em;
	width: 18%;
	position: relative;
		bottom: 0.025em
}
button#search-btn,
i.fas {
	padding: 0;
	height: 95%;
}
button#search-btn {
	margin: auto 0.5em;
}

#search-input {
	width: 73%;
	border-radius: 3px;
}
#search-btn {
	max-width: max-content;
}

/* Page Layout */


/* Top Container -- Current Temp, City, + Short Descr */
#current-conditions {
	height: 40vh;
	padding: 2em;
}


/* Bottom Container -- Hourly, 5 Day Forecast */
#week-forecast {
	height: 30vh;
}

.forecast-content-wrapper {
	display: flex;
		justify-content: space-around;
	padding: 2em auto !important;
}
.forecast-card {
	width: 15vw;
	display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	margin: auto;
	padding: 15px 0;
	background-color: #ffffff1a;
	border-radius: 5px;
	font-size: 0.7em;
	font-weight: 300;
}

.temperature {
	font-size: 1.5em;
}

#city-name {
	height: 20vh;
	padding: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
}


/* Development */

.hidden,
.humidity {
	display: none;
}
