:root{
    --bg-color: #204646;
    --bg-screen: #568a8a70;
    --forecast-card-screen:#0ca6a9bd;
    --forecast-card-border: #0ca6a91f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: var(--bg-color);
    height: 100%;
    transition: all 3s ease-in-out;
}

header{
    background: var(--bg-color);
}

header div.header_wrapper{
    border-top: 35px solid #0ca6a9c0;
    border-radius: 50px;
    padding: 10px 15px 0 35px;
}

#header_text{
    color: #EAEAF2;
    text-shadow: 1px 1px 1.5px #0CA7A9;
}

#header_tagline{
    color: #EAEAF2;
}

main{
    height: 100%;
}

div.row{
    height: 100%;
}

.search_box_wrapper{
    background: var(--bg-color);
    border-bottom: 10px solid var(--bg-color);
    border-left: 10px solid var(--bg-color);
    border-top: 10px solid var(--bg-color);
    border-radius: 5px;
    height: auto;
}

.search_box{
    background: var(--bg-screen);
    border-right: 10px solid #912e04f1;
    border-radius: 5px;
    height: auto;
    padding: 20px 30px 75px 30px;
    /* min-width: 308px; */
}

#search_box_text{
    color: #0ee2e6;
    font-size: 1.4em;
    font-weight: 400;
    padding: 0;
    text-shadow: 0.01 0.01 rgba(32, 32, 32, 0.616);
}

#search_bar{
    color: grey;
    display:inline-flex;
    margin-bottom: 20px;
}

div#search_bar,
form.searchform,
div.input-group,
input.input[type="text"]{
    display: flex;
    flex-shrink: 2;
    /* align-items: stretch; */
}

div.input-group{
    display: flex;
    flex-wrap: nowrap;
}


button#search_btn{
    background: rgb(0, 90, 163);
    z-index: 99;
    padding: 0 4px;

}

i{
    color: #EAEAF2;
    /* position: inline; */
}

div.search_history_container{
    background: #F7E8BD;
    border: 0.5px 1px;
    width:auto;
    height: auto;
}

div.search_history{
    background: transparent;
    border: 0.5px solid var(--bg-color);
    color: #b13805;
    display: block;
    font-size: 1em;
    font-weight: 500;
    height: 40px;
    padding: 10px 0 10px 10px;
    margin: 0;
}

div#current_city{
    background: var(--bg-color);
    border-bottom: 10px solid var(--bg-color);
    border-left: 5px solid var(--bg-color);
    border-top: 10px solid var(--bg-color);
    border-radius: 5px;
    height: auto;
    padding: 0 0 10px 5px;
}

div.forecast_wrapper{
    border-color: var(--bg-color);
    border-style: solid;
    border-width: 4px 2px 10px 2px;
    height:auto;
}

div#current_conditions{
    background: var(--bg-screen);
    border-radius: 5px;
    height: auto;
    padding: 15px 15px 20px 15px;
}

#city_header_wrap{
    display: flex;
    justify-content: center;
}

#city_header_wrap h2{
    color: #0ee2e6;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.2em;
    font-weight: 600;
    height: auto;
    margin: 0;
    text-shadow: 4px 4px 5px #912e04f1;
    text-transform: uppercase;
    width: auto;
}

div#date_icon_wrap{
    display: flex;
    position: relative;
    bottom: 25px;
    padding-bottom: 10px;
}

#today{
    font-size: 25px;
    color: #F7C080;
}

img#current_icon{

}

div#top_temp_wrap,
div#top_hum_wrap{
    display: flex;
}

div#top_degree{
    color: #EAEAF2;
    position: relative;
    left: 20px;
    bottom: 1px;
    font-size: 90%;
}

div#top_percent{
    color: #EAEAF2;
    position: relative;
    left: 20px;
    top: 3px;
    font-size: 90%;
}

div#bottom_cast_wrap{
    height: auto;
}

h4{
    color:#F7C080;
    padding: 0 0 15px 0;
}

div#week_forecast{
    background: var(--bg-screen);
    border-radius: 5px;
    display: flex;
    height: auto;
    flex-direction: column;
    padding: 20px 40px;
}

#forecast_title{
    height:auto;
    width:auto;
}

div.forecast_content_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    height: auto;
}

div.day_forecast{
    align-items: stretch;
    background: var(--forecast-card-screen);
    border-color: var(--forecast-card-border);
    border-style: solid;
    border-width: 2px 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding: 10px 20px 15px 15px;
    width: auto;
}

.fc_txt{
    color: #EAEAF2;
}

.date{
    color:#F7E8BD;
    font-size: 1.4em;
    padding: 0 0 0 5px;
}

.spacing{
    padding: 5px 2px;
    display: flex;
}

span.temp_txt{
    color: #EAEAF2;
    font-size: 1.1em;
}

span.hum_txt{
    color: #EAEAF2;
    font-size: 1em;
}

div.degree{
    color: #EAEAF2;
    position: relative;
    left: 20px;
    bottom: 1px;
    font-size: 90%;
}

div.percent{
    color: #EAEAF2;
    position: relative;
    left: 20px;
    top: 4px;
    font-size: 90%;
}

.data_txt{
    color: #EAEAF2;
    font-size: 1.3em;
    font-weight: 300;
    position: relative;
    bottom: 4px;
    left: 20px;
}

div.temp,
div.degree{
    position: relative;
    right: 5px;
}
